*.vcproj*.user
*.ncb
*.aps
*.suo
*.dump
*.dll
*.ilk
*.pdb
*.lib
*.exe
*.psess
*.tmp
*.obj
*.res
*.idb
*.pch
*.rar
*.zip
*.dae
*.DAE
*.dae
*.old
*.max
*.MAX
*.3DS
*.3ds
*.manifest
*.dep
*.enc
/Dependencies